<%include file='header.html' />

<table>
% for row in data:
	<tr>
		<td>${row['timestamp']}</td>
		<td>${row['fee']}</td>
		<td>${row['amt_in']}</td>
		<td>${row['alias_in']}</td>
		<td>${row['chan_in']}</td>
		<td>${row['amt_out']}</td>
		<td>${row['alias_out']}</td>
		<td>${row['chan_out']}</td>
	</tr>
% endfor
</table>

<%include file='footer.html' />
